
    <% layout('layouts/boilerplate') %> 

    <form action="/campgrounds" method="POST">
        <div>
            <label for="title">TITLE</label>
            <input type="text" name="campground[title]" id="title">
        </div>
        <div>
            <label for="location">LOCATION</label>
            <input type="text" name="campground[location]" id="location">
        </div>
        <button>ADD NEW CAMPGROUND</button>
    </form>
    <a href="/campgrounds">ALL CAMPGROUNDS</a>
